<!DOCTYPE html>
<html>
  <head>
    <title>Movie Advisor</title>
  </head>

  <body>
    <h1>Movie Advisor</h1>
    <form method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title"><br/><br/>

      {% if data.get('years', None) %}
      <label for="year">Release Year:</label>
      <select id="year" name="year"/>
        <option value="" selected>(Empty)</option>
      {% for year in data.years %}
        <option value="{{year}}">{{year}}</option>
      {% endfor %}
      </select><br/><br/>
      {% endif %}

      {% if data.get('genres', None) %}
      <label for="genre">Genre:</label>
      <select id="genre" name="genre"/>
        <option value="" selected>(Empty)</option>
      {% for genre in data.genres.items() %}
        <option value="{{genre[0]}}">{{genre[1]}}</option>
      {% endfor %}
      </select><br/><br/>
      {% endif %}

      <label for="sortBy">Sort by:</label>
      <select id="sortBy" name="sortBy"/>
        <option value="Overall rating">Overall rating</option>
      </select><br/><br/>

      <input type="submit" value="Search"/>
    </form>
    <p/>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if result %}
    <table>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Release Year</th>
      <th>Runtime (min.)</th>
      <th>Genres</th>
    </tr>
    {% for item in result %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{data.titleTypes[item[1]]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>
      {{data.genres[item[4].split(',')[0]]}}{% for code in item[4].split(',')[1:] %}, {{data.genres[code]}}{% endfor %}
      </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
